# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
BACKEND/node_modules/
ELECTRON/node_modules/
FRONTED/node_modules/

ELECTRON/dist/
ELECTRON/build/
*.exe

# Expo
.expo/
dist/
web-build/

#Archivo .env
.env
BACKEND/.env


