DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
JWT_SECRET=
JWT_EXPIRES=

//CORREO que se usará para enviar los correos
MAIL_USER=
MAIL_PASS= (contraseña de aplicación)

//SUPABASE
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET=